<section id="testimonal" class="s-testimonal target-section">


<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Yorumlar</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                    <img src="~/portfolio-theme/images/avatars/refre.PNG" alt="image" class="testimonials__avatar">
                <p>
                        İnsan, ancak çalıştığını kazanır.
                </p>
                <div class="testimonials__author h06">
                        Mevlana
                        <span>--</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/portfolio-theme/images/avatars/refre.PNG" alt=" image" class="testimonials__avatar">
                <p>
                        İnsan, ancak çalıştığını kazanır.
                </p>
                <div class="testimonials__author h06">
                        Mevlana
                    <span>--</span>
                </div>
            </div>

            <div class="testimonials__slide">
                    <img src="~/portfolio-theme/images/avatars/refre.PNG" alt=" image" class="testimonials__avatar">
                <p>
                        İnsan, ancak çalıştığını kazanır.
                </p>
                <div class="testimonials__author h06">
                        Mevlana
                    <span>--</span>
                </div>
            </div>

        </div> 

    </div>

</div>

</section>