<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                200
            </div>
            <h4>Eat </h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                503
            </div>
            <h4>Sleep</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                401
            </div>
            <h4>Code</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                200
            </div>
            <h4>Repeat</h4>
        </div>

    </div>
</section>
