<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/ay.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Sitem B
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profil</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-bar-chart-o"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-align-left"></i>
					<p>Hakkımda</p>
									</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-bell"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/DefaultController1/Index">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="la la-apple"></i>
					<p>Deneyimler</p>
									</a>
			</li>
@* 			<li class="nav-item">
				<a href="tables.html">
					<i class="la la-th"></i>
					<p>Öne Çıkan Alan</p>
					<span class="badge badge-count">6</span>
				</a>
			</li> *@
			<li class="nav-item">
				<a href="/Contact/Index/">
					<i class="la la-bell"></i>
					<p>İletişim Bilgileri</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio/Index/">
					<i class="la la-font"></i>
					<p>Portfolyo</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skills/Index/">
					<i class="la la-magic"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-group"></i>
					<p>Referanslarım</p>
				</a>
			</li>
	@* 		<li class="nav-item">
				<a href="icons.html">
					<i class="la la-link"></i>
					<p>Sosyal Medya</p>
				</a>
			</li> *@
			<li class="nav-item">
				<a href="/Message/Inbox">
					<i class="la la-inbox"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
	
@* 			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li> *@
		</ul>
	</div>
</div>
